<% @backtests.each.with_index(1) do |backtest, index| %>
  <p>Rank: <%= index -%> <%= backtest.asset_pair.name -%> (<%= backtest.iso8601_duration -%>) - <%= number_to_currency(backtest.current_value) %> (<%= number_to_percentage(backtest.percentage_change) %>)</p>
<% end %>
