<%= render 'breadcrumbs', crumbs: [
      link_to('Asset Pairs', asset_pairs_path),
      @asset_pair.name
    ] %>

<%= tag.h1 @asset_pair.name %>

  <nav>
    <details class="dropdown">
      <summary>
        <%= @duration %>
      </summary>
      <ul dir="rtl">
        <% Ohlc.durations.values.each do |duration| %>
          <li><%= link_to(duration, asset_pair_path(@asset_pair, duration:)) %></li>
        <% end %>
      </ul>
    </details>
  </nav>

  <%= render AssetPairChartComponent.new(asset_pair: @asset_pair, duration: @duration) %>
