<%= render 'breadcrumbs', crumbs: [
      link_to('Asset Pairs', asset_pairs_path),
      @asset_pair.name
    ] %>

<%= tag.h1 @asset_pair.name %>

  <nav>
    <details class="dropdown">
      <summary>
        <%= duration_to_timeframe(@duration) %>
      </summary>
      <ul dir="rtl">
        <% Ohlc.durations.each do |duration| %>
          <li><%= link_to(duration_to_timeframe(duration), asset_pair_path(@asset_pair, iso8601_duration: duration.iso8601)) %></li>
        <% end %>
      </ul>
    </details>
  </nav>

  <%= render AssetPairChartComponent.new(asset_pair: @asset_pair, duration: @duration) %>
