<%= render 'breadcrumbs', crumbs: [
      link_to('Asset Pairs', asset_pairs_path),
      @asset_pair.name
    ] %>

<%= tag.h1 @asset_pair.name %>

<nav>
  <details class="dropdown">
    <summary>
      <%= duration_to_timeframe(@duration) %>
    </summary>
    <ul dir="rtl">
      <% Ohlc.durations.each do |duration| %>
        <li>
          <%= link_to(
                duration_to_timeframe(duration),
                asset_pair_path(
                  @asset_pair,
                  iso8601_duration: duration.iso8601
                )
              ) %>
        </li>
      <% end %>
    </ul>
  </details>
</nav>

<%= tag.div class: 'asset-pair-chart-component',
            data: {
              controller: 'asset-pair-chart-component',
              asset_pair_chart_component_price_format_value: {
                type: 'price',
                precision: @asset_pair.cost_decimals,
                minMove: 1.0 / (10**@asset_pair.cost_decimals)
              },
              asset_pair_chart_component_chart_ticks_url_value: asset_pair_duration_chart_ticks_url(
                @asset_pair,
                @duration.iso8601
              )
            } %>

<article>
  <%= button_to 'Stop tracking', asset_pair_import_path, params: { asset_pair_id: @asset_pair.id }, method: :delete %>
</article>

<article>
  <%= turbo_frame_tag dom_id(@backtest), src: backtest_path(@backtest), loading: 'lazy' %>
</article>
