<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>WaveWalker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>TrendPulse</strong></li>
        </ul>
        <ul>
          <% [['Dashboard', root_path], ['Asset Pairs', asset_pairs_path]].each do |name, path| %>
            <li><%= link_to name, path, aria: { current: current_page?(path) ? "page" : nil } %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="container">
      <article>
        <header>Associated links</header>
        <li><%= link_to 'Good Job', good_job.root_path, target: '_blank', data: { turbo: false } %></li>
      </article>
    </footer>
  </body>
</html>
